main {
  background-color: #f0f2f5;

  height: calc(100% - 14rem);
}

main .content-wrapper {
  margin: 0 auto;

  width: min(70rem, 100%);
  height: 100%;
}

main .cards-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main .cards-wrapper .card {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  padding: 1.5rem 2rem;

  background: var(--white);
  border-radius: 5px;

  width: min(22rem, 100%);
  height: 8.5rem;

  margin: -4.25rem 0 0;
}

main .cards-wrapper .card.total {
  background: var(--green);
}

main .cards-wrapper .card header.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

main .cards-wrapper .card header.card-header div.card-header__image {
  width: 2rem;
  height: 2rem;
}

main .cards-wrapper .card header.card-header div.card-header__image img {
  width: 100%;

  object-fit: cover;
}

main .cards-wrapper .card header.card-header h1 {
  font-weight: 400;
  font-size: 1rem;

  color: var(--title);
}

main .cards-wrapper .card.total header.card-header h1 {
  color: var(--white);
}

main .cards-wrapper .card strong {
  font-weight: 400;
  font-size: 2.25rem;

  color: var(--title);
}

main .cards-wrapper .card.total strong {
  color: var(--white);
}

main .table-wrapper {
  margin: 8.25rem 0 0;

  width: 100%;

  overflow: auto;
}

main .table-wrapper table {
  width: 100%;

  border-collapse: collapse;
}

main .table-wrapper table th,
td {
  text-align: left;
}

main .table-wrapper table thead tr th {
  padding: 1.25rem 2rem;
}

main .table-wrapper table thead tr th {
  font-size: 1rem;
  font-weight: 400;

  color: var(--text);
}

main .table-wrapper table tbody tr td {
  background: var(--white);

  padding: 1.25rem 2rem;

  height: 4rem;

  font-size: 1rem;
  font-weight: 400;

  color: var(--text);

  border-radius: 5px;
}

main .table-wrapper table tbody tr + tr {
  border-top: 0.5rem solid #f0f2f5;
}

main .table-wrapper table tbody tr td.title {
  color: var(--title);
}

main .table-wrapper table tbody tr td.income {
  color: var(--green);
}

main .table-wrapper table tbody tr td.outcome {
  color: var(--red);
}
